$column-bottom-margin: 1.5rem;

html {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #43D98D;
}

div.itemActionsGroup {
  background-color: #FFFFFF;
  position: fixed;
  right: 5%;
  top: 1%;
  z-index: 1;
  width: 3rem;

  > * {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  ul > li {
    padding-left: 25%;
  }
  
}

div.custom_item_grid {
  margin-top: 0;

  &.grid_create_item {
    padding-top: 5%;
  }
  
  .item_grid_text_field {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: $column-bottom-margin;
  }

  .create_item_paper {
    padding-top: 0;
  }

  .create-item-column label {
    top: 20%;
    left: 5%;
  }

  textarea.create-item-content {
    resize: none;
    border: none;
    margin-left: 1%;
  }
}

div.create_item_loading {
  position: absolute;
  top: 25%;
  right: 45%;
}
